<!DOCTYPE html>
<html ng-app="HuetifulClient" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Huetiful" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <meta id='csrf' ng-controller="CsrfCtrl" data-csrf="<%= form_authenticity_token%>"/>

    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body ng-app>
    <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#/bridges">Huetiful</a>
          <ul class="nav">
            <li class="active"><a href="#/bridges">Bridges</a></li>
          </ul>
        </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>

